* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
}

header {
    background-color: brown;
    grid-column: 2 / -1;
    grid-row: 1;
}

main {
    background-color: bisque;
    grid-column: 2 / -1;
    grid-row: 2;
}

aside {
    background-color: cadetblue;
    grid-column: 1;
    grid-row: 1 / -1;
}